.board {
  width: 100%;
  height: 100%;
  user-select: none;

  &__container {
    width: 100%;
    overflow: auto;
    line-height: 0;
    flex: 1 1;
  }

  &--wire,
  &--edit {
    cursor: initial;

    .element {
      cursor: default;

      &-active {
        cursor: grab;
      }
    }
  }

  &--create {
    cursor: crosshair;
  }

  &--interact {
    .interactive-element {
      cursor: pointer;
    }
  }
}
