.app {
  &__tab {
    padding: 8px 16px;
    border-top: 1px solid;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin: 0 8px;
    position: relative;
    top: 1px;

    &--active {
      border-bottom-color: white;
    }
  }
}
